body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(45deg, rgb(255, 126, 186), rgb(255, 216, 246));
}

div {
  background-color: white;
  width: 400px;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: rgb(255, 126, 186);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}