body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(45deg, rgb(255, 126, 186), rgb(255, 216, 246));
}

div {
  background-color: white;
  width: 400px;
  border-radius: 10px;
}

input {
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: rgb(255, 126, 186);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;

}
